.home {
  overflow-x: hidden;
}

.githubRow {
  display: flex;
  justify-content: center;
  padding: var(--spaceL) var(--spaceOuter) var(--space3XL);

  & > * {
    font-size: var(--fontSizeBodyL);
  }

  @media (--mediaMobile) {
    padding-left: var(--spaceM);
    padding-right: var(--spaceM);

    & > * {
      width: 100%;
      justify-content: center;
      font-size: var(--fontSizeBodyM);
    }
  }
}
